.welcomesheet {
    color: wheat;
}

.lists {
    /* display: flex;
    justify-content: center; */
    /* position: fixed; */
    /* right: 1%; */
    /* top: 100px; */
    margin-right: 2%;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 1%
}